.inp {
    display: flex;
    color: white;
    padding: 5px;
    backdrop-filter: blur(4px);
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: 0.15s;
    font-weight: 500;
    font-size: larger;
    font-family: 'Handjet', cursive;

    &:focus {
        outline: none;
    }
}
