.cell {
    border: 1px solid rgba(255, 255, 255, 0.3);

    input {
        width: 100%;
        display: flex;
        color: white;
        padding: 2px;
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
        transition: 0.15s;
        font-family: 'Handjet', cursive;

        text-align: center;

        font-weight: 500;
        font-size: small;

        @media screen and (min-width: 576px) {
            font-weight: 500;
            font-size: medium;
        }

        @media screen and (min-width: 992px) {
            font-weight: 500;
            font-size: larger;
        }

        &:focus {
            outline: none;
        }
    }
}

.div-table {
    position: relative;
    width: 100%;

    &-btn-down {
        z-index: 1;
        position: absolute;
        display: flex;
        width: 19px;
        height: 38px;
        flex-direction: column;
        bottom: 2px;
        left: 2px;
        font-size: small;
        background-color: rgb(43, 43, 43);

        &-plus {
            width: 100%;
            height: 50%;
        }

        &-minus {
            width: 100%;
            height: 50%;
        }
    }

    &-btn-right {
        z-index: 1;
        position: absolute;
        display: flex;
        top: 2px;
        right: 2px;
        width: 38px;
        height: 19px;
        font-size: small;
        background-color: rgb(43, 43, 43);

        &-plus {
            width: 50%;
            height: 100%;
        }

        &-minus {
            width: 50%;
            height: 100%;
        }
    }

    table {
        width: 100%;
    }
}
